html{
    font: 15pt;
    font-family: "Roboto";
}

.navbar{
    margin-bottom: 50px;
    border-radius: 0;
}

.jumbotron{
    margin-bottom: 0;
}

/*.col-sm-4{
    background-color: #f2f2f2;
    display: block;
    margin-left: auto;
    margin-right: auto;
}*/

.section{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background-color: #f2f2f2;
    padding: 25px;
}
